.wrapper {
  color: #505050;
  max-height: 345px;
  border-radius: 4px;
}

.title {
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.package {
  font-weight: normal;
  font-size: 16px;
}

.date {
  color: #6d72fc;
}
