.title {
  color: #505050;
}

.item {
  height: 32px;
  margin-top: 10px;
  margin-right: 13px;
  padding: 5px 24px;

  background: #eff5fe;
  border-radius: 24px;
  color: #505050;
}

.selected {
  color: #ffffff;
  background-color: #609efc;
}
